torch==2.0.1+cpu --extra-index-url https://download.pytorch.org/whl/cpu
torchvision==0.15.2+cpu --extra-index-url https://download.pytorch.org/whl/cpu
torchaudio==2.0.2+cpu --extra-index-url https://download.pytorch.org/whl/cpu
transformers
scikit-learn
spacy
fastapi
pydantic
uvicorn
motor
jose
easyocr